* {
  text-align: center;
  background: grey;
}
header {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
h1 {
  color: rgb(41, 41, 168);
  font-size: 75px;
  margin-bottom: 5vh;
}
.instructor {
  color: rgb(110, 7, 7);
  font-size: 25px;
}
#container {
  height: 50vh;
  width: 50vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  background: black;
}
button {
  width: 15rem;
  margin: 0 auto;
  margin-top: 5vh;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
}
.tick {
  background-image: url(https://i.imgur.com/OiNWUqV.png);
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.toe {
  background-image: url(https://i.imgur.com/qlleP3J.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#tick,
#toe {
  width: 5rem;
  height: 5rem;
}
@media only screen and (max-width: 330px) {
  h1 {
    font-size: 25px;
  }
  #tick,
  #toe {
    height: 2rem;
    width: 2rem;
  }
  .instructor {
    font-size: 15px;
  }
}
